$color-black: #333;
$color-white: #fff;
$color-orange: #F16726;
$color-gray: #E4E7EB;
$color-gray-light: #f9fafb;
$color-gray-dark: #666;
$color-green: #3CAF48;
$color-blue: #1594CB;

.event {
  &__date {
    font-family: 'HelveticaNeueCyr-Regular';
    font-size: 2.4rem;
    line-height: 3.2rem;
    color: $color-black;
    margin: 0 0 0.8rem 0;
  }

  &__title {
    font-family: 'HelveticaNeueCyr-Light';
    font-size: 5rem;
    line-height: 4rem;
    color: $color-black;
    margin: 0 0 5.6rem 0;
  }

  &__item {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 3.2rem;
    }

    .programm-descr_i:not(:last-child) {
      margin-bottom: 0;
    }

    &_orange {
      .event {
        &__type,
        &__time,
        &__speaker-name {
          color: $color-orange;
        }

        &__header,
        &__header::before {
          background-color: $color-orange;
        }

        &__header::after {
          border-left: 2.4rem solid #FB9464;
        }

        &__header-title,
        &__moderator-role,
        &__moderator-name {
          color: $color-white;
        }
      }
    }

    &_green {
      .event {
        &__type,
        &__time,
        &__speaker-name {
          color: $color-green;
        }

        &__header,
        &__header::before {
          background-color: $color-green;
        }

        &__header::after {
          border-left: 2.4rem solid #5ECE69;
        }

        &__header-title,
        &__moderator-role,
        &__moderator-name {
          color: $color-white;
        }
      }
    }

    &_blue {
      .event {
        &__type,
        &__time,
        &__speaker-name {
          color: $color-blue;
        }

        &__header,
        &__header::before {
          background-color: $color-blue;
        }

        &__header::after {
          border-left: 2.4rem solid #18A5E2;
        }

        &__header-title,
        &__moderator-role,
        &__moderator-name {
          color: $color-white;
        }
      }
    }
  }

  &__header-row {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__date-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2.4rem 0 0 0;
    min-width: 8rem;
    max-width: 8rem;
  }

  &__type {
    font-family: 'HelveticaNeueCyr-Regular';
    font-size: 1.2rem;
    color: #333;
    margin: 0 0 -0.6rem 0;
  }

  &__time {
    font-family: 'HelveticaNeueCyr-Medium';
    font-size: 2.4rem;
    color: $color-black;
    margin: 0;
  }

  &__data-col-wrap {
    display: flex;

    .event__data-col:first-child {
      .event__header {
        &::before {
          display: none;
        }
      }
    }

    .event__data-col:last-child {
      .event__header {
        &::after {
          display: none;
        }
      }
    }
  }

  &__data-col {
    width: 100%;
    display: flex;
    flex-direction: column;

    &:nth-child(2) {
      margin-left: 2rem;
    }
  }

  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 8rem;
    padding: 2.4rem 4rem 2.4rem 2rem;
    background-color: $color-white;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      content: '';
      width: 0;
      height: 0;
      border-top: 2.4rem solid $color-gray-light;
      border-left: 2.4rem solid $color-gray;
    }

    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);
      left: -0.45rem;
      content: '';
      width: 0.9rem;
      height: 0.9rem;
      background-color: $color-white;
    }

    &-title {
      font-family: 'HelveticaNeueCyr-Regular';
      font-size: 2.4rem;
      color: $color-black;
      margin: 0;
    }
  }

  &__moderator {
    display: flex;
    justify-content: flex-end;

    &-desc {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-right: 1.6rem;
    }

    &-role {
      font-family: 'HelveticaNeueCyr-Regular';
      font-size: 1.2rem;
      color: $color-black;
      margin: 0;
    }

    &-name {
      font-family: 'HelveticaNeueCyr-Medium';
      font-size: 1.4rem;
      color: $color-black;
      margin: 0;
    }

    &-pic {
      display: inline-flex;
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
      border: none;
      object-fit: contain;
      object-position: center;
    }

  }

  &__topics-list {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__topic {
    padding: 1.6rem 3.2rem;
    background-color: $color-white;

    &:not(:last-child) {
      border-bottom: 1px solid $color-gray;
    }

    &-title {
      font-family: 'HelveticaNeueCyr-Light';
      font-size: 2rem;
      line-height: 2.6rem;
      color: $color-black;
      margin: 0 0 0.8rem 0;
    }

    &-ol {
      padding: 0 0 0 4rem;
      margin-bottom: 1.6rem;

      li {
        font-family: 'HelveticaNeueCyr-Regular';
        font-size: 1.4rem;
        color: $color-gray-dark;

        &:not(:last-child) {
          margin-bottom: 0.8rem;
        }
      }
    }

    &-ul {
      padding: 0 0 0 2.2rem;
      margin-bottom: 1.6rem;

      li {
        font-family: 'HelveticaNeueCyr-Regular';
        font-size: 1.4rem;
        color: $color-gray-dark;

        &:not(:last-child) {
          margin-bottom: 0.8rem;
        }
      }
    }

    &-speakers {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__speaker {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 21px;
    }

    &-pic {
      display: inline-flex;
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
      border: none;
      object-fit: contain;
      object-position: center;
    }

    &-name {
      font-family: 'HelveticaNeueCyr-Medium';
      font-size: 1.4rem;
      color: $color-black;
      margin: 0 0 0 0.8rem;
    }
  }




}
