@charset "UTF-8";

// Responsive (for example: xs, sm, md, lg, xl)
$mq-breakpoints: (
        "xs": 679px,
        "sm": 680px,
        "md": 984px,
        "lg": 1224px,
        "xl": 1440px
);

$mq-indents: (
        "xs": 1.2rem,
        "sm": 1.2rem,
        "md": 1.2rem,
        "lg": 1.2rem,
        "xl": 1.2rem
);

$mq-container-widths: (
        "xs": 100%,
        "sm": 672px,
        "md": 960px,
        "lg": 1152px,
        "xl": 1344px
);

$mq-container-indents: (
        "xs": map-get($mq-indents, "xs"),
        "sm": map-get($mq-indents, "sm"),
        "md": map-get($mq-indents, "md"),
        "lg": map-get($mq-indents, "lg"),
        "xl": map-get($mq-indents, "xl")
);

$mq-grid-gutters: (
        "xs": map-get($mq-indents, "xs"),
        "sm": map-get($mq-indents, "sm"),
        "md": map-get($mq-indents, "md"),
        "lg": map-get($mq-indents, "lg"),
        "xl": map-get($mq-indents, "xl")
);

// Not responsive
$width: 1220px;
$indent: 2rem;

$container-width: $width;
$container-indent: $indent;

$grid-gutter: $indent;

// Border radius
$border-radius-base: .5rem;

// mobile top offset

$mobile-top-offset: 4.8rem;

// Site colors
$color-black: #000;
$color-brown: #513624;
$color-light-black: #1f150b;
$color-dark-gray: #706d6d;
$color-cream: #f4f1f1;
$color-white: #fff;
$color-orange: #f95d06;
$color-dark-orange: #cc4c05;
$color-light-gray: #dcd9d9;
$color-medium-gray: #b9b5b5;

// Colors system
$color-base: #000;

$color-light: #666;
$color-muted: #999;
$color-minor: #ccc;

$color-brand: neo;

$color-error: #f00;
$color-warning: #f90;
$color-success: #390;

// Fonts
$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-family-alt: $font-family-base;

$font-weight-base: 400;
$font-weight-solid: 700;

// Forms
$checkbox-size: 2rem;

$radio-size: 2rem;

// Links
$color-link: #369;

// Transitions
$transition-duration-base: .2s ease;
