script(src='http://infoday.equifax.ru/assets/user-d4dc323a4f4f82c6ef9b16733d6e4d94.js' type='text/javascript')
script.
        var eng = new bnEngineProgram({
            el: $('.programm'), reports: {
                "1": {},
                "2": {
                    "moderator_21": {
                        "surname": "Щугорев",
                        "name": "Дмитрий",
                        "post": "Ведущий информационного канала",
                        "job": "Россия-24",
                        "photo": "http://infoday.equifax.ru/uploads/moderator/photo/21/popup_14.jpg",
                        "biography": "<p>Российский журналист, ведущий информационного канала Россия-24 (с 2007 года). До этого - корреспондент международного телеканала RT, старший редактор Дирекции Информационных Программ Первого Канала. Автор документальных фильмов и спецпроектов. Участвовал в подготовке и проведении нескольких программ «Прямая Линия с Владимиром Путиным».</p>"
                    },
                    "person_1": {
                        "surname": "Лагуткин",
                        "name": "Олег",
                        "post": "Генеральный директор",
                        "job": "БКИ «Эквифакс»",
                        "photo": "http://infoday.equifax.ru/uploads/person/photo/1/popup_Лагуткин.jpg",
                        "biography": "<p>Родился 14&nbsp;сентября 1972&nbsp;года. В&nbsp;1995 году окончил Пушкинское высшее военное училище радиоэлектроники войск ПВО по&nbsp;специальности &laquo;математическое обеспечение АВС&raquo;, позже&nbsp;&mdash; факультет международных экономических отношений Санкт-Петербургского государственного университета. В&nbsp;1990-1997 годах служил в&nbsp;вооруженных силах. С&nbsp;1997 года работал в&nbsp;ряде петербургских банков на&nbsp;должностях от&nbsp;дилера до&nbsp;заместителя председателя правления. В&nbsp;2004 году создал и&nbsp;возглавил бюро кредитных историй ООО &laquo;БКИ Скоринг.ру&raquo;. В&nbsp;2008 году переименовано в&nbsp;ООО &laquo;Эквифакс Кредит Сервисиз&raquo; в&nbsp;связи с&nbsp;вхождением в капитал стратегического акционера Equifax Inc.</p>"
                    },
                    "person_65": {
                        "surname": "Тывес",
                        "name": "Станислав",
                        "post": "Заместитель Председателя Правления",
                        "job": "Банк Уралсиб",
                        "photo": "http://infoday.equifax.ru/uploads/person/photo/65/popup_ТывесСтанислав.jpg",
                        "biography": "<p>Станислав начал свою карьеру в Райффайзенбанке в 2006 году в подразделении по работе с проблемной задолженностью физических лиц.</p>\\n\n<p>С 2012 года работал на руководящих должностях по направлениям розничного риск-менеджмента и работы с проблемными активами. </p>\n\n<p>В 2018 году присоединился к команде ПАО Банк Уралсиб, в котором в должности Заместителя Председателя Правления курирует работу Службы риск-менеджмента, Департамента контроля рисков корпоративного банка, Департамента контроля рисков розничного банка и Управление контроля рисков операций на финансовых рынках. </p>\n\n<p>В 2009 году Станислав Тывес получил степень магистра по специальности «Техническая физика» в МГТУ им. Н.Э. Баумана. В 2017 году - степень MBA по специальности «Финансы» в Венском университете экономики и бизнеса (WU Executive Academy).</p>"
                    }
                },
                "39": {
                    "moderator_21": {
                        "surname": "Щугорев",
                        "name": "Дмитрий",
                        "post": "Ведущий информационного канала",
                        "job": "Россия-24",
                        "photo": "http://infoday.equifax.ru/uploads/moderator/photo/21/popup_14.jpg",
                        "biography": "<p>Российский журналист, ведущий информационного канала Россия-24 (с 2007 года). До этого - корреспондент международного телеканала RT, старший редактор Дирекции Информационных Программ Первого Канала. Автор документальных фильмов и спецпроектов. Участвовал в подготовке и проведении нескольких программ «Прямая Линия с Владимиром Путиным».</p>"
                    },
                    "person_60": {
                        "surname": "Капустин",
                        "name": "Сергей",
                        "post": "Заместитель Председателя Правления",
                        "job": "член Правления ОТП Банка",
                        "photo": "http://infoday.equifax.ru/uploads/person/photo/60/popup_321.jpg",
                        "biography": "<p>Родился в Москве в 1979 году. </p>\n\n<p>В 2001 году закончил Механико-Математический факультет МГУ по специальности «Прикладная математика». Имеет степень кандидата экономических наук. </p>\n\n<p>В банковской сфере более 10 лет. Начинал банковскую карьеру в 2001 году в Банке «Возрождение», где прошел путь от ведущего специалиста до Заместителя начальника Управления розничных операций, отвечая за вопросы розничного бизнеса Банка и управления рисками. </p>\n\n<p>В 2008 году перешел в ОТП Банк, где занял должность Директора Дирекции оценки и методологии рисков. Курировал вопросы, связанные с кредитными рисками по розничному портфелю Банка, методологией кредитования, операционные и рыночные риски. </p>\n\n<p>С 2011 по 2013 год работал Директором по рискам в ООО «Домашние деньги». </p>\n\n<p>С 2013 года является Заместителем Председателя правления, Директором Дивизиона по управлению рисками в ОТП Банке. </p>"
                    }
                },
                "43": {
                    "moderator_21": {
                        "surname": "Щугорев",
                        "name": "Дмитрий",
                        "post": "Ведущий информационного канала",
                        "job": "Россия-24",
                        "photo": "http://infoday.equifax.ru/uploads/moderator/photo/21/popup_14.jpg",
                        "biography": "<p>Российский журналист, ведущий информационного канала Россия-24 (с 2007 года). До этого - корреспондент международного телеканала RT, старший редактор Дирекции Информационных Программ Первого Канала. Автор документальных фильмов и спецпроектов. Участвовал в подготовке и проведении нескольких программ «Прямая Линия с Владимиром Путиным».</p>"
                    },
                    "person_64": {
                        "surname": "Емелин",
                        "name": "Андрей",
                        "post": "Председатель",
                        "job": "Национальный совет финансового рынка ",
                        "photo": "http://infoday.equifax.ru/uploads/person/photo/64/popup_abc.jpg",
                        "biography": "<p>Кандидат юридических наук\n<br />Первый заместитель Председателя Комитета ТПП РФ по финансовым рынкам и кредитным организациям</p>\n\n<p>Автор более 40 научных работ по банковскому, валютному, административному и гражданскому праву\n<br />  \n<br />Участвует в работе Межрегионального банковского совета при Совете Федерации Федерального Собрания РФ; Экспертной группы по ПОД/ФТ, внутреннему контролю и регуляторному (комплаенс) риску при ЭКС Комитета Совета Федерации по бюджету и финансовым рынкам; Консультативного совета при Межведомственной комиссии по ПОД/ФТ при Росфинмониторинге; Экспертного совета Банка России по защите прав потребителей финансовых услуг и миноритарных акционеров; Межведомственного совета по подготовке предложений по разработке мер, направленных на оптимизацию платежного оборота на территории Российской Федерации.\n</p>"
                    }
                },
                "55": {
                    "moderator_21": {
                        "surname": "Щугорев",
                        "name": "Дмитрий",
                        "post": "Ведущий информационного канала",
                        "job": "Россия-24",
                        "photo": "http://infoday.equifax.ru/uploads/moderator/photo/21/popup_14.jpg",
                        "biography": "<p>Российский журналист, ведущий информационного канала Россия-24 (с 2007 года). До этого - корреспондент международного телеканала RT, старший редактор Дирекции Информационных Программ Первого Канала. Автор документальных фильмов и спецпроектов. Участвовал в подготовке и проведении нескольких программ «Прямая Линия с Владимиром Путиным».</p>"
                    },
                    "person_82": {
                        "surname": "Шеховцова ",
                        "name": "Ольга",
                        "post": "Заместитель начальника Управления поведенческого надзора за деятельностью профессиональных кредиторов, Служба по защите прав потребителей и обеспечению доступности финансовых услуг Банка России",
                        "job": "ЦБ РФ",
                        "photo": "http://infoday.equifax.ru/assets/no-photo-badge.png",
                        "biography": "<p></p>"
                    }
                },
                "3": {},
                "24": {
                    "moderator_12": {
                        "surname": "Хасанова",
                        "name": "Сабина ",
                        "post": "Директор департамента аналитики и контента ",
                        "job": "Banki.ru",
                        "photo": "http://infoday.equifax.ru/uploads/moderator/photo/12/popup_banki.ru_hasanova.jpg",
                        "biography": "<p>С отличием окончила Московский финансовый институт по специальности «Финансы и кредит», получила второе образование в области бухгалтерского учёта и аудита. С 2007 по 2012 гг. работала в кредитном департаменте «Ситибанка», затем продолжила карьеру в аналитическом департаменте банка «Союз». В 2013 году пришла на работу в информационное агентство «Банки.ру» на позицию банковского аналитика. С 2015 года—руководитель информационно-аналитического отдела «Банки.ру».</p>"
                    },
                    "person_2": {
                        "surname": "Бочаров",
                        "name": "Николай",
                        "post": "Заместитель генерального директора",
                        "job": "БКИ «Эквифакс»",
                        "photo": "http://infoday.equifax.ru/uploads/person/photo/2/popup_Бочаров_фото.JPG",
                        "biography": "<p>В 2006 году окончил Государственный Университет Управления по специальности «Менеджмент организации». Более 10 лет работает в банковской отрасли. Несколько лет работал банке Home Credit and Finance Bank. После пришел в коллекторское агентство \"Пристав\". С 2007 года работает в бюро кредитных историй «Эквифакс». С 2010 года возглавляет подразделение продаж.</p>"
                    }
                },
                "50": {
                    "moderator_12": {
                        "surname": "Хасанова",
                        "name": "Сабина ",
                        "post": "Директор департамента аналитики и контента ",
                        "job": "Banki.ru",
                        "photo": "http://infoday.equifax.ru/uploads/moderator/photo/12/popup_banki.ru_hasanova.jpg",
                        "biography": "<p>С отличием окончила Московский финансовый институт по специальности «Финансы и кредит», получила второе образование в области бухгалтерского учёта и аудита. С 2007 по 2012 гг. работала в кредитном департаменте «Ситибанка», затем продолжила карьеру в аналитическом департаменте банка «Союз». В 2013 году пришла на работу в информационное агентство «Банки.ру» на позицию банковского аналитика. С 2015 года—руководитель информационно-аналитического отдела «Банки.ру».</p>"
                    },
                    "person_81": {
                        "surname": "Калашникова",
                        "name": "Мария",
                        "post": "Заместитель начальника Аналитического управления",
                        "job": "Банк ВТБ",
                        "photo": "http://infoday.equifax.ru/uploads/person/photo/81/popup_Калашникова.jpg",
                        "biography": "<p>Закончила факультет прикладной математики и физики Московского авиационного института в 2009 году,\n<br />В 2010 году пришла в ВТБ24 (после объединения - группа ВТБ) на должность главного специалиста отдела скоринга. </p>\n\n<p>В 2016 году возглавила отдел разработки скоринговых моделей.\n<br />С 2018 года - заместитель начальника Аналитического управления. Основные направления деятельности – развитие скоринговых систем Банка, новых внутренних и внешних источников данных для моделирования.   \n</p>"
                    }
                },
                "5": {},
                "46": {
                    "moderator_22": {
                        "surname": "Гвоздева",
                        "name": "Маргарита",
                        "post": "Аналитик ",
                        "job": "Zaim.com",
                        "photo": "http://infoday.equifax.ru/uploads/moderator/photo/22/popup_gv.jpg",
                        "biography": "<p>Более 10 лет занимается исследованием рынков и отраслей. \n<br />До 2013 года работала заместителем начальника отдела региональных исследований в Российском энергетическом агентстве. \n<br />С 2011 по 2015 год сотрудничала с информационным порталом \"Bank.ru\", занималась подготовкой аналитических обзоров о тенденциях развития рынка банковских услуг.\n<br />Также занимается научной деятельностью, работает над диссертацией по теме \"Диагностика экономического роста\". \n</p>"
                    },
                    "person_78": {
                        "surname": "Мельникова",
                        "name": "Лидия",
                        "post": "Старший аналитик",
                        "job": "Эквифакс",
                        "photo": "http://infoday.equifax.ru/uploads/person/photo/78/popup_1.jpg",
                        "biography": "<p>Закончила механико-математический факультет Московского Государственного Университета имени Ломоносова, где разработала алгоритм построения инверторных схем оптимальной площади.\n<br />С 2014 года работает в бюро кредитных историй «Эквифакс», где разрабатывает новые продукты в сфере противодействия мошенничеству.\n</p>"
                    }
                },
                "47": {
                    "moderator_22": {
                        "surname": "Гвоздева",
                        "name": "Маргарита",
                        "post": "Аналитик ",
                        "job": "Zaim.com",
                        "photo": "http://infoday.equifax.ru/uploads/moderator/photo/22/popup_gv.jpg",
                        "biography": "<p>Более 10 лет занимается исследованием рынков и отраслей. \n<br />До 2013 года работала заместителем начальника отдела региональных исследований в Российском энергетическом агентстве. \n<br />С 2011 по 2015 год сотрудничала с информационным порталом \"Bank.ru\", занималась подготовкой аналитических обзоров о тенденциях развития рынка банковских услуг.\n<br />Также занимается научной деятельностью, работает над диссертацией по теме \"Диагностика экономического роста\". \n</p>"
                    },
                    "person_80": {
                        "surname": "Сычев",
                        "name": "Николай",
                        "post": "Директор Дирекции оценки и методологии рисков",
                        "job": "ОТП Банк",
                        "photo": "http://infoday.equifax.ru/uploads/person/photo/80/popup_нс.jpg",
                        "biography": "<p>В 2006 году окончил Бакалавриат Экономического факультета НИУ Высшая Школа Экономики, в 2008 – магистратуру.\n<br />Начало карьеры было положено в 2006 году в маркетинговом агентстве Nielsen. Впоследствии работал в крупнейших банках страны: Ситибанк, ДжиИ Мани, Альфа Банк, ВТБ24, в которых занимал различные позиции в риск-менеджменте, продуктах и CRM. В 2018 году перешёл в ОТП Банк на должность Директора Дирекции оценки и методологии рисков.</p>"
                    }
                },
                "48": {
                    "moderator_22": {
                        "surname": "Гвоздева",
                        "name": "Маргарита",
                        "post": "Аналитик ",
                        "job": "Zaim.com",
                        "photo": "http://infoday.equifax.ru/uploads/moderator/photo/22/popup_gv.jpg",
                        "biography": "<p>Более 10 лет занимается исследованием рынков и отраслей. \n<br />До 2013 года работала заместителем начальника отдела региональных исследований в Российском энергетическом агентстве. \n<br />С 2011 по 2015 год сотрудничала с информационным порталом \"Bank.ru\", занималась подготовкой аналитических обзоров о тенденциях развития рынка банковских услуг.\n<br />Также занимается научной деятельностью, работает над диссертацией по теме \"Диагностика экономического роста\". \n</p>"
                    },
                    "person_40": {
                        "surname": "Ермак",
                        "name": "Игорь",
                        "post": "Руководитель службы противодействия мошенничеству Блока розничных рисков",
                        "job": "ПАО «МТС-Банк»",
                        "photo": "http://infoday.equifax.ru/uploads/person/photo/40/popup_386178072.jpeg",
                        "biography": "<p>Родился 9 октября 1982 года.\n<br />В 2005 году окончил Южно-Российский государственный технический университет (НПИ) в г. Новочеркасске, специальность прикладная информатика в экономике. В 2009 году защитил ученую степень кандидата экономических наук, специальность математические и инструментальные методы экономики, Ростовский государственный экономический университет (РИНХ) г. Ростов-на-Дону.\n<br />Трудовой стаж с 2003 года. В банковской сфере с 2005 года. С 2007 по 2014 год в банке Хоум Кредит, возглавлял направление особых проектов по противодействию мошенничеству. С октября 2014 года возглавляет направление противодействия мошенничеству в ПАО «МТС-Банк».</p>"
                    }
                },
                "52": {
                    "moderator_22": {
                        "surname": "Гвоздева",
                        "name": "Маргарита",
                        "post": "Аналитик ",
                        "job": "Zaim.com",
                        "photo": "http://infoday.equifax.ru/uploads/moderator/photo/22/popup_gv.jpg",
                        "biography": "<p>Более 10 лет занимается исследованием рынков и отраслей. \n<br />До 2013 года работала заместителем начальника отдела региональных исследований в Российском энергетическом агентстве. \n<br />С 2011 по 2015 год сотрудничала с информационным порталом \"Bank.ru\", занималась подготовкой аналитических обзоров о тенденциях развития рынка банковских услуг.\n<br />Также занимается научной деятельностью, работает над диссертацией по теме \"Диагностика экономического роста\". \n</p>"
                    },
                    "person_26": {
                        "surname": "Довбыш",
                        "name": "Руслан",
                        "post": "Заместитель директора по продажам",
                        "job": "БКИ \"Эквифакс\"",
                        "photo": "http://infoday.equifax.ru/uploads/person/photo/26/popup_1.png",
                        "biography": "<p>Родился 1 апреля 1987 года. В 2009 окончил Московский Университет Государственного и Муниципального Управления, по специальности «Гражданское право». В продажах имеет стаж более 10 лет. Карьеру начинал с представительств Китайской компании FSP Group, Немецкой Schaefer Werke GMBH, российской лизинговой компании ГК «Интерлизинг». С 2010 работает в бюро кредитных историй «Эквифакс». С 2013 года, является заместителем директора по продажам и возглавляет направление по работе с ключевыми клиентами.</p>"
                    }
                },
                "53": {
                    "moderator_22": {
                        "surname": "Гвоздева",
                        "name": "Маргарита",
                        "post": "Аналитик ",
                        "job": "Zaim.com",
                        "photo": "http://infoday.equifax.ru/uploads/moderator/photo/22/popup_gv.jpg",
                        "biography": "<p>Более 10 лет занимается исследованием рынков и отраслей. \n<br />До 2013 года работала заместителем начальника отдела региональных исследований в Российском энергетическом агентстве. \n<br />С 2011 по 2015 год сотрудничала с информационным порталом \"Bank.ru\", занималась подготовкой аналитических обзоров о тенденциях развития рынка банковских услуг.\n<br />Также занимается научной деятельностью, работает над диссертацией по теме \"Диагностика экономического роста\". \n</p>"
                    },
                    "person_77": {
                        "surname": "Цыганов",
                        "name": "Владимир",
                        "post": "Руководитель группы по развитию",
                        "job": "Эквифакс",
                        "photo": "http://infoday.equifax.ru/uploads/person/photo/77/popup_фото.png",
                        "biography": "<p>Закончил Институт Иностранных Языков, имеет более чем 15 -ти летний опыт в продажах услуг. Знакомство с банками начал в 2004 г., работал в Банке Ренессанс Капитал (нынешний Ренессанс Кредит), прошел ряд дополнительных курсов по менеджменту и управлению продажами. \n<br />В команде Эквифакс с 2014.  С 2015 возглавляет группу по развитию небанковского сектора. \n</p>"
                    }
                },
                "10": {},
                "11": {},
                "12": {
                    "moderator_21": {
                        "surname": "Щугорев",
                        "name": "Дмитрий",
                        "post": "Ведущий информационного канала",
                        "job": "Россия-24",
                        "photo": "http://infoday.equifax.ru/uploads/moderator/photo/21/popup_14.jpg",
                        "biography": "<p>Российский журналист, ведущий информационного канала Россия-24 (с 2007 года). До этого - корреспондент международного телеканала RT, старший редактор Дирекции Информационных Программ Первого Канала. Автор документальных фильмов и спецпроектов. Участвовал в подготовке и проведении нескольких программ «Прямая Линия с Владимиром Путиным».</p>"
                    },
                    "person_1": {
                        "surname": "Лагуткин",
                        "name": "Олег",
                        "post": "Генеральный директор",
                        "job": "БКИ «Эквифакс»",
                        "photo": "http://infoday.equifax.ru/uploads/person/photo/1/popup_Лагуткин.jpg",
                        "biography": "<p>Родился 14&nbsp;сентября 1972&nbsp;года. В&nbsp;1995 году окончил Пушкинское высшее военное училище радиоэлектроники войск ПВО по&nbsp;специальности &laquo;математическое обеспечение АВС&raquo;, позже&nbsp;&mdash; факультет международных экономических отношений Санкт-Петербургского государственного университета. В&nbsp;1990-1997 годах служил в&nbsp;вооруженных силах. С&nbsp;1997 года работал в&nbsp;ряде петербургских банков на&nbsp;должностях от&nbsp;дилера до&nbsp;заместителя председателя правления. В&nbsp;2004 году создал и&nbsp;возглавил бюро кредитных историй ООО &laquo;БКИ Скоринг.ру&raquo;. В&nbsp;2008 году переименовано в&nbsp;ООО &laquo;Эквифакс Кредит Сервисиз&raquo; в&nbsp;связи с&nbsp;вхождением в капитал стратегического акционера Equifax Inc.</p>"
                    },
                    "person_65": {
                        "surname": "Тывес",
                        "name": "Станислав",
                        "post": "Заместитель Председателя Правления",
                        "job": "Банк Уралсиб",
                        "photo": "http://infoday.equifax.ru/uploads/person/photo/65/popup_ТывесСтанислав.jpg",
                        "biography": "<p>Станислав начал свою карьеру в Райффайзенбанке в 2006 году в подразделении по работе с проблемной задолженностью физических лиц.</p>\n\n<p>С 2012 года работал на руководящих должностях по направлениям розничного риск-менеджмента и работы с проблемными активами. </p>\n\n<p>В 2018 году присоединился к команде ПАО Банк Уралсиб, в котором в должности Заместителя Председателя Правления курирует работу Службы риск-менеджмента, Департамента контроля рисков корпоративного банка, Департамента контроля рисков розничного банка и Управление контроля рисков операций на финансовых рынках. </p>\n\n<p>В 2009 году Станислав Тывес получил степень магистра по специальности «Техническая физика» в МГТУ им. Н.Э. Баумана. В 2017 году - степень MBA по специальности «Финансы» в Венском университете экономики и бизнеса (WU Executive Academy).</p>"
                    }
                },
                "41": {
                    "moderator_21": {
                        "surname": "Щугорев",
                        "name": "Дмитрий",
                        "post": "Ведущий информационного канала",
                        "job": "Россия-24",
                        "photo": "http://infoday.equifax.ru/uploads/moderator/photo/21/popup_14.jpg",
                        "biography": "<p>Российский журналист, ведущий информационного канала Россия-24 (с 2007 года). До этого - корреспондент международного телеканала RT, старший редактор Дирекции Информационных Программ Первого Канала. Автор документальных фильмов и спецпроектов. Участвовал в подготовке и проведении нескольких программ «Прямая Линия с Владимиром Путиным».</p>"
                    },
                    "person_60": {
                        "surname": "Капустин",
                        "name": "Сергей",
                        "post": "Заместитель Председателя Правления",
                        "job": "член Правления ОТП Банка",
                        "photo": "http://infoday.equifax.ru/uploads/person/photo/60/popup_321.jpg",
                        "biography": "<p>Родился в Москве в 1979 году. </p>\n\n<p>В 2001 году закончил Механико-Математический факультет МГУ по специальности «Прикладная математика». Имеет степень кандидата экономических наук. </p>\n\n<p>В банковской сфере более 10 лет. Начинал банковскую карьеру в 2001 году в Банке «Возрождение», где прошел путь от ведущего специалиста до Заместителя начальника Управления розничных операций, отвечая за вопросы розничного бизнеса Банка и управления рисками. </p>\n\n<p>В 2008 году перешел в ОТП Банк, где занял должность Директора Дирекции оценки и методологии рисков. Курировал вопросы, связанные с кредитными рисками по розничному портфелю Банка, методологией кредитования, операционные и рыночные риски. </p>\n\n<p>С 2011 по 2013 год работал Директором по рискам в ООО «Домашние деньги». </p>\n\n<p>С 2013 года является Заместителем Председателя правления, Директором Дивизиона по управлению рисками в ОТП Банке. </p>"
                    }
                },
                "45": {
                    "moderator_21": {
                        "surname": "Щугорев",
                        "name": "Дмитрий",
                        "post": "Ведущий информационного канала",
                        "job": "Россия-24",
                        "photo": "http://infoday.equifax.ru/uploads/moderator/photo/21/popup_14.jpg",
                        "biography": "<p>Российский журналист, ведущий информационного канала Россия-24 (с 2007 года). До этого - корреспондент международного телеканала RT, старший редактор Дирекции Информационных Программ Первого Канала. Автор документальных фильмов и спецпроектов. Участвовал в подготовке и проведении нескольких программ «Прямая Линия с Владимиром Путиным».</p>"
                    },
                    "person_64": {
                        "surname": "Емелин",
                        "name": "Андрей",
                        "post": "Председатель",
                        "job": "Национальный совет финансового рынка ",
                        "photo": "http://infoday.equifax.ru/uploads/person/photo/64/popup_abc.jpg",
                        "biography": "<p>Кандидат юридических наук\n<br />Первый заместитель Председателя Комитета ТПП РФ по финансовым рынкам и кредитным организациям</p>\n\n<p>Автор более 40 научных работ по банковскому, валютному, административному и гражданскому праву\n<br />  \n<br />Участвует в работе Межрегионального банковского совета при Совете Федерации Федерального Собрания РФ; Экспертной группы по ПОД/ФТ, внутреннему контролю и регуляторному (комплаенс) риску при ЭКС Комитета Совета Федерации по бюджету и финансовым рынкам; Консультативного совета при Межведомственной комиссии по ПОД/ФТ при Росфинмониторинге; Экспертного совета Банка России по защите прав потребителей финансовых услуг и миноритарных акционеров; Межведомственного совета по подготовке предложений по разработке мер, направленных на оптимизацию платежного оборота на территории Российской Федерации.\n</p>"
                    }
                },
                "56": {
                    "moderator_21": {
                        "surname": "Щугорев",
                        "name": "Дмитрий",
                        "post": "Ведущий информационного канала",
                        "job": "Россия-24",
                        "photo": "http://infoday.equifax.ru/uploads/moderator/photo/21/popup_14.jpg",
                        "biography": "<p>Российский журналист, ведущий информационного канала Россия-24 (с 2007 года). До этого - корреспондент международного телеканала RT, старший редактор Дирекции Информационных Программ Первого Канала. Автор документальных фильмов и спецпроектов. Участвовал в подготовке и проведении нескольких программ «Прямая Линия с Владимиром Путиным».</p>"
                    },
                    "person_82": {
                        "surname": "Шеховцова ",
                        "name": "Ольга",
                        "post": "Заместитель начальника Управления поведенческого надзора за деятельностью профессиональных кредиторов, Служба по защите прав потребителей и обеспечению доступности финансовых услуг Банка России",
                        "job": "ЦБ РФ",
                        "photo": "http://infoday.equifax.ru/assets/no-photo-badge.png",
                        "biography": "<p></p>"
                    }
                },
                "13": {},
                "14": {
                    "moderator_12": {
                        "surname": "Хасанова",
                        "name": "Сабина ",
                        "post": "Директор департамента аналитики и контента ",
                        "job": "Banki.ru",
                        "photo": "http://infoday.equifax.ru/uploads/moderator/photo/12/popup_banki.ru_hasanova.jpg",
                        "biography": "<p>С отличием окончила Московский финансовый институт по специальности «Финансы и кредит», получила второе образование в области бухгалтерского учёта и аудита. С 2007 по 2012 гг. работала в кредитном департаменте «Ситибанка», затем продолжила карьеру в аналитическом департаменте банка «Союз». В 2013 году пришла на работу в информационное агентство «Банки.ру» на позицию банковского аналитика. С 2015 года—руководитель информационно-аналитического отдела «Банки.ру».</p>"
                    },
                    "person_2": {
                        "surname": "Бочаров",
                        "name": "Николай",
                        "post": "Заместитель генерального директора",
                        "job": "БКИ «Эквифакс»",
                        "photo": "http://infoday.equifax.ru/uploads/person/photo/2/popup_Бочаров_фото.JPG",
                        "biography": "<p>В 2006 году окончил Государственный Университет Управления по специальности «Менеджмент организации». Более 10 лет работает в банковской отрасли. Несколько лет работал банке Home Credit and Finance Bank. После пришел в коллекторское агентство \"Пристав\". С 2007 года работает в бюро кредитных историй «Эквифакс». С 2010 года возглавляет подразделение продаж.</p>"
                    },
                    "person_81": {
                        "surname": "Калашникова",
                        "name": "Мария",
                        "post": "Заместитель начальника Аналитического управления",
                        "job": "Банк ВТБ",
                        "photo": "http://infoday.equifax.ru/uploads/person/photo/81/popup_Калашникова.jpg",
                        "biography": "<p>Закончила факультет прикладной математики и физики Московского авиационного института в 2009 году,\n<br />В 2010 году пришла в ВТБ24 (после объединения - группа ВТБ) на должность главного специалиста отдела скоринга. </p>\n\n<p>В 2016 году возглавила отдел разработки скоринговых моделей.\n<br />С 2018 года - заместитель начальника Аналитического управления. Основные направления деятельности – развитие скоринговых систем Банка, новых внутренних и внешних источников данных для моделирования.   \n</p>"
                    }
                },
                "51": {
                    "moderator_12": {
                        "surname": "Хасанова",
                        "name": "Сабина ",
                        "post": "Директор департамента аналитики и контента ",
                        "job": "Banki.ru",
                        "photo": "http://infoday.equifax.ru/uploads/moderator/photo/12/popup_banki.ru_hasanova.jpg",
                        "biography": "<p>С отличием окончила Московский финансовый институт по специальности «Финансы и кредит», получила второе образование в области бухгалтерского учёта и аудита. С 2007 по 2012 гг. работала в кредитном департаменте «Ситибанка», затем продолжила карьеру в аналитическом департаменте банка «Союз». В 2013 году пришла на работу в информационное агентство «Банки.ру» на позицию банковского аналитика. С 2015 года—руководитель информационно-аналитического отдела «Банки.ру».</p>"
                    },
                    "person_81": {
                        "surname": "Калашникова",
                        "name": "Мария",
                        "post": "Заместитель начальника Аналитического управления",
                        "job": "Банк ВТБ",
                        "photo": "http://infoday.equifax.ru/uploads/person/photo/81/popup_Калашникова.jpg",
                        "biography": "<p>Закончила факультет прикладной математики и физики Московского авиационного института в 2009 году,\n<br />В 2010 году пришла в ВТБ24 (после объединения - группа ВТБ) на должность главного специалиста отдела скоринга. </p>\n\n<p>В 2016 году возглавила отдел разработки скоринговых моделей.\n<br />С 2018 года - заместитель начальника Аналитического управления. Основные направления деятельности – развитие скоринговых систем Банка, новых внутренних и внешних источников данных для моделирования.   \n</p>"
                    }
                },
                "15": {},
                "29": {
                    "moderator_15": {
                        "surname": "Масленков",
                        "name": "Сергей",
                        "post": "Директор по работе со страховыми компаниями",
                        "job": "БКИ «Эквифакс»",
                        "photo": "http://infoday.equifax.ru/uploads/moderator/photo/15/popup_1609831_644383768968184_1750532716_n.jpg",
                        "biography": "<p>Окончил Московский государственный университет им. М.В. Ломоносова и Московскую международную школу бизнеса Мирбис. Начинал свою трудовую деятельность в компании Luxoft. Преподавал в университете гражданской авиации высшую и прикладную математику. С 2003 года занимается развитием автострахования в России. За десять лет прошел путь от тарифного актуария в автостраховании до руководителя департамента автострахования. Работал в компаниях «РЕСО-Гарантия» и Страховая группа УРАЛСИБ. В настоящее время занимает должность директора по работе со страховыми компаниями в бюро кредитных историй «Эквифакс Кредит Сервисиз». Осуществляет развитие направлений интеллектуального страхования в России.</p>"
                    },
                    "person_30": {
                        "surname": "Жуков",
                        "name": "Андрей",
                        "post": "Консультант Департамента Страхового рынка",
                        "job": "Банк России",
                        "photo": "http://infoday.equifax.ru/uploads/person/photo/30/popup_Zhukov_-_photo_2018.jpg",
                        "biography": "<p>Родился 18.07.1958 в Ставропольском крае.</p>\n\n<p>Окончил факультет Кибернетики и аспирантуру МИФИ.</p>\n\n<p>До 2008 года на руководящей информационно-аналитической и научной работе в государственных и частных структурах. Реализовал ряд проектов по производству особо чистых веществ для микроэлектронной промышленности.</p>\n\n<p>В 2009 – 2017 гг в Страховом доме ВСК.\n<br />Зам руководителя Департамента противодействия мошенничеству (ПМ).\n<br />Основной разработчик корпоративной стратегии ПМ. Председатель конференций, докладчик и панелист на конференциях по ПМ и УУ в Москве (Рубеж, Барьер), в Берлине, Вене, Будапеште. Участник страховых форумов в Амстердаме, Мюнхене, Праге и других городах. Взаимодействие с KPMG, Ernst&Young, FRISS и другими экспертными корпорациями по вопросам ПМ и УУ в страховании.</p>\n\n<p>С 2018 г – заместитель Генерального директора ООО «РСО «ЕВРОИНС» по безопасности. Организовал систему защиты бизнеса страховой компании.</p>\n\n<p>В июне 2018 г. перешел в сектор противодействия страховому мошенничеству Департамента страхового рынка Банка России. член экспертной группы по противодействию финансовым преступлениям при Международной ассоциации органов страхового надзора IAIS.\n</p>"
                    }
                },
                "33": {
                    "moderator_15": {
                        "surname": "Масленков",
                        "name": "Сергей",
                        "post": "Директор по работе со страховыми компаниями",
                        "job": "БКИ «Эквифакс»",
                        "photo": "http://infoday.equifax.ru/uploads/moderator/photo/15/popup_1609831_644383768968184_1750532716_n.jpg",
                        "biography": "<p>Окончил Московский государственный университет им. М.В. Ломоносова и Московскую международную школу бизнеса Мирбис. Начинал свою трудовую деятельность в компании Luxoft. Преподавал в университете гражданской авиации высшую и прикладную математику. С 2003 года занимается развитием автострахования в России. За десять лет прошел путь от тарифного актуария в автостраховании до руководителя департамента автострахования. Работал в компаниях «РЕСО-Гарантия» и Страховая группа УРАЛСИБ. В настоящее время занимает должность директора по работе со страховыми компаниями в бюро кредитных историй «Эквифакс Кредит Сервисиз». Осуществляет развитие направлений интеллектуального страхования в России.</p>"
                    },
                    "person_76": {
                        "surname": "Гринько",
                        "name": "Сергей",
                        "post": "Руководитель Направления противодействия страховому мошенничеству",
                        "job": "АО «Страховая Компания МетЛайф»",
                        "photo": "http://infoday.equifax.ru/uploads/person/photo/76/popup_15.jpg",
                        "biography": "<p>Родился в 1974 году. В 1997 году закончил Экономический факультет МГТУ «Станкин» по специальности: «Экономика и управление на предприятии». В этом же году начал карьеру в Страховой компании AIG Life в Отделе обслуживания клиентов, параллельно учась в аспирантуре МГТУ «Станкин».  В 2000 году стал кандидатом экономических наук, защитив  диссертацию на тему “Система корпоративного страхования рисков производственно-хозяйственной деятельности промышленного предприятия”. В 2001 году получил международный сертификат «Управление компанией по страхованию жизни», выданный Институтом LOMA (США).</p>\n\n<p>В 2017 году исполнилось 20 лет карьеры Сергея в страховании жизни, в компании MetLife (AIG Life,  АИГ Лайф, Alico, Metlife Alico).</p>\n\n<p>В течение этого периода Сергей занимает ключевые позиции в компании: Руководитель Отдела андеррайтинга и нового бизнеса, Руководитель Отдела обслуживания полисов, Руководитель Отдела страховых выплат, Менеджер по внедрению страховых продуктов. </p>\n\n<p>С 2016 года Сергей занимает пост Руководителя Направления противодействия страховому мошенничеству.\n<br />Также Сергей - активный участник по развитию противодействия страховому мошенничеству на рынке страхования жизни РФ, и входит в состав:\n<br />- Комитета по противодействию мошенничеству во Всероссийском Союзе Страховщиков (ВСС), \n<br />- Рабочей Группы по противодействию мошенничеству в рамках Ассоциации Страховщиков Жизни (АСЖ), в т.ч. по разработке предложений по борьбе с мошенничеством для ЦБ РФ и Минздрава,\n<br />- Рабочей Группы по разработке Бюро Страховых Историй (БСИ) в рамках ВСС и АСЖ.\n</p>"
                    },
                    "person_62": {
                        "surname": "Перелыгин",
                        "name": "Сергей",
                        "post": "Генеральный директор",
                        "job": "PPF Страхование жизни",
                        "photo": "http://infoday.equifax.ru/uploads/person/photo/62/popup_c1.jpg",
                        "biography": "<p>Сергей Перелыгин родился в городе Москве.  В 1998 году закончил Финансовый Университет при правительстве РФ по специальности «Финансы и Кредит».</p>\n\n<p>В 1992 году начал карьеру в финансовой сфере в компании «Ведис». Позже работал в банке «Церих», группе «Менатеп», ОАО «ЮКОС». </p>\n\n<p>В страхование Сергей пришел в 1999 году, когда возглавил Московский филиал ОАО «Росгосстрах».</p>\n\n<p>В 2002 году был приглашен на должность Директора Московского филиала страховой компании «Русь», а в 2003 году перешел в ООО «Столичное Страховое общество» на должность Исполнительного директора. Позже долгое время занимал должность исполнительного директора по страхованию Финансовой группы TBIH RUS.</p>\n\n<p>В Группу компаний PPF Страхование в России Сергей пришел в 2010 году, в 2011 году вошел в состав Совета Директоров СПАО «Ингосстрах».</p>\n\n<p>7 июня 2012 года Сергей Перелыгин вступил в должность Генерального директора PPF Страхование жизни (ранее Generali PPF).\n</p>"
                    }
                },
                "34": {
                    "moderator_15": {
                        "surname": "Масленков",
                        "name": "Сергей",
                        "post": "Директор по работе со страховыми компаниями",
                        "job": "БКИ «Эквифакс»",
                        "photo": "http://infoday.equifax.ru/uploads/moderator/photo/15/popup_1609831_644383768968184_1750532716_n.jpg",
                        "biography": "<p>Окончил Московский государственный университет им. М.В. Ломоносова и Московскую международную школу бизнеса Мирбис. Начинал свою трудовую деятельность в компании Luxoft. Преподавал в университете гражданской авиации высшую и прикладную математику. С 2003 года занимается развитием автострахования в России. За десять лет прошел путь от тарифного актуария в автостраховании до руководителя департамента автострахования. Работал в компаниях «РЕСО-Гарантия» и Страховая группа УРАЛСИБ. В настоящее время занимает должность директора по работе со страховыми компаниями в бюро кредитных историй «Эквифакс Кредит Сервисиз». Осуществляет развитие направлений интеллектуального страхования в России.</p>"
                    },
                    "person_75": {
                        "surname": "Макаров",
                        "name": "Денис",
                        "post": "Руководитель департамента обязательных видов страхования",
                        "job": "Альфа страхование",
                        "photo": "http://infoday.equifax.ru/uploads/person/photo/75/popup_13.jpg",
                        "biography": "<p>С 1996 по 2002 служба в  прокуратуре РФ. В 2002 пришел в Альфу, убытки КАСКО. В этом же году возглавил проект ОСАГО. с тех пор руковожу ОСАГО И ЗК в Альфе. </p>"
                    },
                    "person_79": {
                        "surname": "Шаршавин",
                        "name": "Николай",
                        "post": "Начальник отдела партнерских и корпоративных продаж",
                        "job": "АО «ВТБ Страхование Жизни»",
                        "photo": "http://infoday.equifax.ru/uploads/person/photo/79/popup_Шаршавин.JPG",
                        "biography": "<p>15 лет опыт работы Топ-менеджера в автомобильном бизнесе. Основная сфера деятельности – развитие продаж, сервисных услуг, привлечение партнеров.</p>\n\n<p>В 2012 году сменил сферу деятельности, возглавил Департамент партнерских продаж СГ «УралСиб» и вошел в Корпоративный Совет компании. Успешно занимался развитием Партнерского канала продаж, управлял портфелем более 120 партнеров.</p>\n\n<p>В 2017 году перешел в ВТБ Страхование Жизнь и возглавил направление по работе с партнерами не входящими в группу ВТБ. Развил направление с нуля. На сегодняшний день организовано сотрудничество с 15-тью партнерами по продажам ИСЖ и НСЖ.</p>\n\n<p>Образование:\n<br />В 1994 году закончил МГУП по специальности инженер-механик.</p>\n\n<p>В 2002 году завершил обучение по Президентской программе «Подготовка управленческих кадров» в Высшей Школе Международного Бизнеса РАНХ и ГС при Правительстве Москвы.</p>\n\n<p>В 2008 году получил степень MBA по специальности Маркетинг РАНХ и ГС при Правительстве Москвы.</p>"
                    }
                },
                "17": {}
            }
        });
footer#footer.footer(role="contentinfo")
    .ctn
        .p-t_2.p-b_2
            .p-r
                p.footer-copyright
                    | © Equifax Credit Services,
                    script.
                        document.write(new Date().getFullYear());
                    |  — 
                    a.footer-copyright_a(href="http://www.equifax.ru" rel="nofollow" target="_blank") www.equifax.ru
                    br
                    | Разработка сайта — 
                    a.footer-copyright_a(href="http://coalla.ru" rel="nofollow" target="_blank") Coalla
                .footer-slogan
                    a.footer-slogan_a(href="http://www.equifax.ru/about")
                        p.footer-slogan_text
                            span Powering
                            |  the
                            span World
                            |  with
                            span Knowledge
div(style="display: none;")
    #register-success.register-success
        img.header-logo_img(alt="Equifax" height="23" src="http://infoday.equifax.ru/assets/logo-0b4153b2a950b43197c74fc0aeff4fa1.png" width="124")
        article.register-success_cnt
            header.m-b_3
                h3
                    | Спасибо,
                    br
                    | ваша заявка принята
            p.m-b_2 После рассмотрения на почту будет отправлен пароль.
            p.m-b_4
                | Если подтверждение не пришло в течение 24 часов,
                br
                | напишите нам: 
                a(href="mailto:event@equifax.ru") event@equifax.ru
            footer
                a.form_button.__transparent.__gray.js-dialog_close(href="#") Закрыть