doctype html
html.no-js(lang="ru-RU")
    head
        title Equifax Infoday - Программа
        meta(charset="utf-8")
        meta(content="ie=edge,chrome=1" http-equiv="x-ua-compatible")
        meta(content="width=device-width" name="viewport")
        meta(content="telephone=no" name="format-detection")
        meta(content="" name="description")
        meta(content="" name="keywords")
        link(href="humans.txt" rel="author")
        link(href="favicon.ico" rel="icon")
        link(href="http://infoday.equifax.ru/apple-touch-icon-precomposed.png" rel="apple-touch-icon")
        link(href="http://infoday.equifax.ru/apple-touch-icon-57x57-precomposed.png" rel="apple-touch-icon" sizes="57x57")
        link(href="http://infoday.equifax.ru/apple-touch-icon-72x72-precomposed.png" rel="apple-touch-icon" sizes="72x72")
        link(href="http://infoday.equifax.ru/apple-touch-icon-114x114-precomposed.png" rel="apple-touch-icon" sizes="114x114")
        link(href="http://infoday.equifax.ru/apple-touch-icon-144x144-precomposed.png" rel="apple-touch-icon" sizes="144x144")
        link(href="css/application.css" media="all" rel="stylesheet" type="text/css")
        link(href="http://infoday.equifax.ru/assets/application-a05d2e2dd201e4fcfbb710814770f72b.css" media="all" rel="stylesheet" type="text/css")
        script(src="http://infoday.equifax.ru/assets/application-a1302bfb3d0327895c33a28bc34d8770.js" type="text/javascript")
        //script(src = 'js/app.js')
        script(src="http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU" type="text/javascript")
    body#page.page.__programm
        //if lt IE 9
          div(role="alert" style="padding: 40px 0; background: red; text-align: center;")
            h1(style="color: white; font-size: 40px; line-height: 1.5;")
              | Использование устаревшего браузера повышает риск взлома вашего компьютера.
              br
              a(href="http://browsehappy.com/?locale=ru_RU" target="_blank") Обновите свой браузер!
        .alert.__no-js(role="alert")
            h1 У вас отключен JavaScript.
        header#header.header(role="banner")
            .ctn
                .p-t_3.p-b_3
                    .p-r
                        .header-logo
                            a(href="/")
                                img.header-logo_img(alt="Equifax" height="30" src="http://infoday.equifax.ru/assets/logo-0b4153b2a950b43197c74fc0aeff4fa1.png" width="162")
                        nav.header-nav(role="navigation")
                            ul
                                li.header-nav_i
                                    a.header-nav_a.__current(href="/programm") Программа
                                li.header-nav_i
                                    a.header-nav_a(href="/partners") Партнеры
                                li.header-nav_i
                                    a.header-nav_a(href="/contacts") Контакты
                                li.header-nav_i
                                    a.header-nav_a(href="/archive") Архив
                                li.header-nav_i.__login
                                    a.header-nav_a.__login(href="/users/sign_in") Войти