main#main.main(role="main")
    section(aria-labelledby="programm" role="region")
        .ctn
            .p-t_8.p-b_8
                header.m-b_8.tx.__center
                    p.event__date 20 сентября
                    p.event__title Центр международной торговли
                    #programm.m-b_4
                        ul.actions-panel
                            li.actions-panel_i
                                a.actions-panel_a(href="/programm/print/2" target="_blank")
                                    i.ico.__32.__print
                            li.actions-panel_i
                                a.actions-panel_a(href="/uploads/direction/file/2/Program_strahovanie.pdf" target="_blank")
                                    i.ico.__32.__pdf

                section.event__list.programm
                    h2.visually-hidden Список событий
                    article.event__item
                        h2.visually-hidden Событие
                        .event__date-col
                            p.event__time 9:00
                        .event__data-col
                            .event__header
                                p.event__header-title Регистрация (Приветственный кофе)

                    article.event__item.event__item_orange
                        h2.visually-hidden Событие

                        .event__date-col
                            p.event__type Сессия 1
                            p.event__time 10:00
                        .event__data-col
                            .event__header
                                p.event__header-title Зал «Ладога»
                                .event__moderator
                                    .event__moderator-desc.programm-descr_i(data-id="2")
                                        p.event__moderator-role Модератор
                                        a.event__moderator-name.popup-user(href="" data-id="moderator_21") Щугорев Дмитрий
                                    img(src="img/moderators/1.png").event__moderator-pic
                            .event__topics-list
                                .event__topic
                                    p.event__topic-title 1. Обзор рынка, обозрение текущих тенденций
                                    .event__topic-speakers
                                        .event__speaker
                                            img.event__speaker-pic(src="img/speakers/1.png")
                                            .programm-descr_i(data-id="2")
                                                a.event__speaker-name.popup-user(href="" data-id="person_1") Лапуткин Олег
                                        .event__speaker
                                            img.event__speaker-pic(src="img/speakers/2.png")
                                            .programm-descr_i(data-id="2")
                                                a.event__speaker-name.popup-user(href="" data-id="person_65") Тывес Станислав
                                .event__topic
                                    p.event__topic-title 2. Закредитованность населения – наблюдаемые тренды
                                    .event__topic-speakers
                                        .event__speaker
                                            img.event__speaker-pic(src="img/speakers/3.png")
                                            .programm-descr_i(data-id="39")
                                                a.event__speaker-name.popup-user(href="" data-id="person_60") Капустин Сергей
                                .event__topic
                                    p.event__topic-title 3. Развитие цифровых сервисов для финансового рынка. Опыт НСФР
                                    .event__topic-speakers
                                        .event__speaker
                                            img.event__speaker-pic(src="img/speakers/4.png")
                                        .programm-descr_i(data-id="43")
                                            a.event__speaker-name.popup-user(href="" data-id="person_64") Емелин Андрей
                                .event__topic
                                    p.event__topic-title 4. Реализация поведенческого надзора за соблюдением
                                        <br/> законодательства о кредитных историях
                                    .event__topic-speakers
                                        .event__speaker
                                            img.event__speaker-pic(src="img/speakers/notfound.png")
                                            .programm-descr_i(data-id="55")
                                                a.event__speaker-name.popup-user(href="" data-id="person_82") Шеховцова Ольга
                    article.event__item
                        h2.visually-hidden Событие

                        .event__date-col
                            p.event__time 12:00
                            .event__data-col
                        .event__header
                            p.event__header-title Кофе-брейк (Зал «Онега»)

                    article.event__item.event__item_green
                        h2.visually-hidden Событие

                        .event__date-col
                            p.event__type Сессия 2
                            p.event__time 12:00
                        .event__data-col
                            .event__header
                                p.event__header-title Зал «Ладога»
                                .event__moderator
                                    .event__moderator-desc(data-id="24")
                                        p.event__moderator-role Модератор
                                        a.event__moderator-name.popup-user(href="" data-id="moderator_12") Хасанова Сабина
                                    img(src="img/moderators/2.png").event__moderator-pic

                            .event__topics-list
                                .event__topic
                                    p.event__topic-title 1. Новые данные и технологии для оценки риска и роста продаж
                                    ol.event__topic-ol
                                        each val in ['Бюро страховых историй', 'Online триггеры; ', 'Оценка вероятности take rate, mass customization']
                                            li=val
                                    .event__topic-speakers
                                        .event__speaker
                                            img.event__speaker-pic(src="img/speakers/5.png")
                                            .programm-descr_i(data-id="24")
                                                a.event__speaker-name.popup-user(href="" data-id="person_2") Бочаров Николай
                                .event__topic
                                    p.event__topic-title 2. Замена минимальных требований к заемщику скорингом Equifax
                                    .event__topic-speakers
                                        .event__speaker
                                            img.event__speaker-pic(src="img/speakers/6.png")
                                            .programm-descr_i(data-id="50")
                                                a.event__speaker-name.popup-user(href="" data-id="person_81") Калашникова Мария

                    article.event__item
                        h2.visually-hidden Событие

                        .event__date-col
                            p.event__time 13:30
                        .event__data-col
                            .event__header
                                p.event__header-title Бизнес-ланч (Зал «Онега»)

                    article.event__item.event__item_blue
                        h2.visually-hidden Событие

                        .event__date-col
                            p.event__type Сессия 3
                            p.event__time 14:30
                        .event__data-col-wrap
                            .event__data-col
                                .event__header
                                    p.event__header-title Зал «Ладога»
                                    .event__moderator
                                        .event__moderator-desc(data-id="pass-id-here")
                                            p.event__moderator-role Модератор
                                            a.event__moderator-name.popup-user(href="" data-id="pass-id-here") Иванов Иван
                                        img(src="img/moderators/notfound.png").event__moderator-pic
                                .event__topics-list
                                    .event__topic
                                        p.event__topic-title 1. Обзор рынка, обозрение текущих тенденций
                                        ul.event__topic-ul
                                            li Теория большой биометрии
                                        .event__topic-speakers
                                            .event__speaker
                                                img.event__speaker-pic(src="img/speakers/notfound.png")
                                                .programm-descr_i(data-id="pass-id-here")
                                                    a.event__speaker-name.popup-user(href="" data-id="pass-id-here") Иванов Иван
                            .event__data-col
                                .event__header
                                    p.event__header-title Зал «Ладога»
                                    .event__moderator
                                        .event__moderator-desc(data-id="pass-id-here")
                                            p.event__moderator-role Модератор
                                            a.event__moderator-name.popup-user(href="" data-id="pass-id-here") Иванов Иван
                                        img(src="img/moderators/notfound.png").event__moderator-pic
                                .event__topics-list
                                    .event__topic
                                        p.event__topic-title 1. Обзор рынка, обозрение текущих тенденций
                                        ul.event__topic-ul
                                            li Сегментизация клиентов
                                        .event__topic-speakers
                                            .event__speaker
                                                img.event__speaker-pic(src="img/speakers/notfound.png")
                                                .programm-descr_i(data-id="pass-id-here")
                                                    a.event__speaker-name.popup-user(href="" data-id="pass-id-here") Иванов Иван


                    article.event__item
                        h2.visually-hidden Событие
                        .event__date-col
                            p.event__time 17:00
                        .event__data-col
                            .event__header
                                p.event__header-title Фуршет (Зал «Онега»)